{% extends 'in.html' %}
{%for i in not_list%}
{{i}}
{% endfor %}
<!--&lt;!&ndash;&ndash;&gt;-->
<!--<div class="card-columns ">-->

    <!--{% for i in listnote %}-->
    <!--{{i}}-->
    <!--<div >-->
         <!--<article id="{{i.id}}" class="card" style="background-color:{{i.for_color}};height:240px;width:210px;">-->
             <!--<div href="#" data-toggle="modal" data-target="#myModal" id="page-button i" style="background-color:{{i.color}};" >-->
             <!--<div class="card-content" >-->
                  <!--<h3 id="text_box1" data-model-name="text_box"  value={{i.title}}>{{i.title }}</h3>-->
                  <!--<p id="text_area1" data-model-name="text_area" value={{i.description}}>{{i.description}}</p>-->
                  <!--<a href="{% url 'pin_unpin' i.id %}" style="position: absolute;top: 10px;right: -140px;" class="card-link"><span class="glyphicon glyphicon-pushpin" data-toggle="tooltip" data-placement="bottom" title="Pin note"></span></a>-->
                 <!--&lt;!&ndash;suspected div   &ndash;&gt;-->


                     <!--<div  class="dropdown" style="margin-top:100px;">-->

                        <!--<button class="btn btn-default dropdown-toggle" type="button" id="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style=" background-color: transparent;box-shadow: none;height: 3px;width: 5px;font-family:Roboto;margin-right:100px;" data-toggle="tooltip" data-placement="bottom" title="Reminder">-->
                                    <!--<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" id="remainder">-->
                                         <!--<path d="M13 9h-2v2H9v2h2v2h2v-2h2v-2h-2z"/>-->
                                         <!--<path d="M18 17v-6c0-3.07-1.63-5.64-4.5-6.32V4c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v.68C7.64 5.36 6 7.92 6 11v6H4v2h16v-2h-2zm-2 0H8v-6c0-2.48 1.51-4.5 4-4.5s4 2.02 4 4.5v6zm-4 5c1.1 0 2-.9 2-2h-4c0 1.1.9 2 2 2z"/>-->
                                     <!--</svg>-->
                                     <!--</button>-->

                                     <!--<ul class="dropdown-menu" aria-labelledby="remainderMenu1" style=" margin-left: -17px; margin-top: -22px;">-->
                                         <!--<label>Remainder</label>-->


                                <!--<div class="row">-->
                                    <!--<div class='col-sm-6'>-->
                                        <!--<div class="form-group">-->
                                            <!--<div class='input-group date' id='datetimepicker2'>-->
                                                <!--<input type='text' class="form-control" name="reminder1" id="reminder1" />-->
                                                <!--<span class="input-group-addon">-->
                                                    <!--<span class="glyphicon glyphicon-calendar"></span>-->
                                                <!--</span>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->

                                <!--</div>-->
                     <!--</div>-->




                               <!--&lt;!&ndash;colabrator&ndash;&gt;-->
                                 <!--<div role="button" class="btn  dropdown" style="margin: -20px;margin-top: -45px;margin-left: 48px;" aria-label="Collaborator" >-->
                                     <!--<button class="btn btn-default dropdown-toggle" type="button" id="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style=" background-color: transparent;box-shadow: none;height: 3px;width: 25px;font-family:Roboto;" data-toggle="tooltip" data-placement="bottom" title="Collaborate">-->
                                     <!--<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" id="Collaborator">-->
                                     <!--<path d="M9 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0-6c1.1 0 2 .9 2 2s-.9 2-2 2-2-.9-2-2 .9-2 2-2zm0 7c-2.67 0-8 1.34-8 4v3h16v-3c0-2.66-5.33-4-8-4zm6 5H3v-.99C3.2 16.29 6.3 15 9 15s5.8 1.29 6 2v1zm3-4v-3h-3V9h3V6h2v3h3v2h-3v3h-2z"/>-->
                                     <!--</svg></button>-->

                                     <!--<ul class="dropdown-menu" >-->
                                         <!--<h4><span class="label label-default">Collabrators</span></h4>-->

                                         <!--owner : {{ user.username }}-->
                                         <!--<br>-->
                                        <!--<form method="post" action="{% url 'Update' i.id%}">-->
                                         <!--<select name="collaborate" id="collaborate" multiple style="height:160px;">-->
                                             <!--{% for a_user in all_users %}-->
                                             <!--<option  value={{a_user.id}}>{{a_user.username}}</option>-->

                                             <!--{% endfor %}-->

                                        <!--</select>-->
                                             <!--<button type="submit">submit</button></form>-->
                                        <!--Invite Others:-->
                                         <!--<form method="post" action="{% url 'invite' %}" enctype="multipart/form-data">-->
                                             <!--<input type="email" name="email"  id="email" required/>-->
                                             <!--<button type="submit">Invite</button>-->
                                         <!--</form>-->
                                     <!--</ul>-->

                                 <!--</div>-->


                                  <!--&lt;!&ndash;color&ndash;&gt;-->
                               <!--<div class="dropdown"  >-->
                                       <!--<button class="btn btn-default dropdown-toggle" type="button" id="color-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">-->
                                       <!--<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">-->
                                           <!--<path d="M12 22C6.49 22 2 17.51 2 12S6.49 2 12 2s10 4.04 10 9c0 3.31-2.69 6-6 6h-1.77c-.28 0-.5.22-.5.5 0 .12.05.23.13.33.41.47.64 1.06.64 1.67A2.5 2.5 0 0 1 12 22zm0-18c-4.41 0-8 3.59-8 8s3.59 8 8 8c.28 0 .5-.22.5-.5a.54.54 0 0 0-.14-.35c-.41-.46-.63-1.05-.63-1.65a2.5 2.5 0 0 1 2.5-2.5H16c2.21 0 4-1.79 4-4 0-3.86-3.59-7-8-7z"/><circle cx="6.5" cy="11.5" r="1.5"/>-->
                                           <!--<circle cx="9.5" cy="7.5" r="1.5"/><circle cx="14.5" cy="7.5" r="1.5"/><circle cx="17.5" cy="11.5" r="1.5"/>-->
                                        <!--</svg>-->
                                    <!--</button>-->
                                       <!--&lt;!&ndash;colors in dropdown&ndash;&gt;-->
                                    <!--<ul class="dropdown-menu" aria-labelledby="color-menu" style=" margin-left: 114px; margin-top: -22px;" >-->
                                        <!--<form method="post" action="{% url 'change_color' i.id %}" style="height:22px;">-->
                                            <!--<center>-->
                                            <!--<select name="change_color" id="change_color" style="width:40px;" data-toggle="tooltip" data-placement="bottom" title="Change color">-->

                                                <!--<option   style="background-color:white" value="white"  ></option>-->
                                                <!--<option style="background-color:#D7BDE2" value="#D7BDE2" ></option>-->
                                                <!--<option   style="background-color:#A3E4D7" value="#A3E4D7"  ></option>-->
                                                <!--<option  style="background-color:#AEB6BF  " value="#AEB6BF" ></option>-->


                                                <!--<option   style="background-color:#FAD7A0" value="#FAD7A0" ></option>-->
                                                <!--<option  style="background-color:#85C1E9  " value="#85C1E9"   name="#85C1E9"  ></option>-->
                                                <!--<option  style="background-color:#EDBB99" value="#EDBB99" ></option>-->
                                                <!--<option  style="background-color:#D2F5B4" value="#D2F5B4" ></option>-->


                                                <!--<option  style="background-color:#CDE380" value="#CDE380" ></option>-->
                                                <!--<option  style="background-color:#E6A6AB  " value="#E6A6AB" ></option>-->
                                                <!--<option style="background-color:#B2B8E2 " value="#B2B8E2"  ></option>-->
                                                <!--<option  style="background-color:#DCE391  " value="#DCE391" ></option>-->
                                        <!--</select>-->
                                            <!--<button type="submit" style="background-color: {{i.for_color}};">Save</button>-->
                                            <!--</center>-->
                                        <!--</form>-->
                                     <!--</ul>-->

                               <!--</div>-->

                                             <!--&lt;!&ndash;Archive&ndash;&gt;-->

                                <!--<div >-->
                                     <!--<a href="{% url 'is_archived' i.id %}" role="button"   class="btn" style="margin-left:90px;margin-top:-150px;" data-toggle="tooltip" data-placement="bottom" title="Archive">-->
                                                    <!--<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" id="archive">-->
                                                    <!--<path d="M20.54 5.23l-1.39-1.68C18.88 3.21 18.47 3 18 3H6c-.47 0-.88.21-1.16.55L3.46 5.23C3.17 5.57 3 6.02 3 6.5V19c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V6.5c0-.48-.17-.93-.46-1.27zM6.24 5h11.52l.83 1H5.42l.82-1zM5 19V8h14v11H5zm11-5.5l-4 4-4-4 1.41-1.41L11 13.67V10h2v3.67l1.59-1.59L16 13.5z"></path>-->
                                                    <!--</svg></a>-->
                                <!--</div>-->

                 <!--{% for l in all_map %}-->
                    <!--{% if l.note_id == i.id %}-->
                 <!--&lt;!&ndash;<span class="badge" style="margin-top: -320px;">{{l.label_id}} </span>&ndash;&gt;-->
                 <!--<span class="tag label badge" style="margin-top: -320px;height:23px;">-->
                          <!--<span>{{l.label_id}}</span>-->
                          <!--<a href="{% url 'remove_labels' i.id l.label_id_id %}"><i class="remove glyphicon glyphicon-remove-sign glyphicon-white"></i></a>-->
                        <!--</span>-->
                    <!--{% endif %}-->


                 <!--{% endfor %}-->

            <!--&lt;!&ndash;Reminder Badge&ndash;&gt;-->
                 <!--{% if i.reminder != None%}-->
                 <!--<span class="badge" style="margin-top: -250px;margin-left:-18px;" >{{i.reminder}}-->
                    <!--</span>-->
                 <!--{% endif %}-->



                  <!--&lt;!&ndash;More Options&ndash;&gt;-->
                 <!--<div class="dropdown  show dropleft" style="top:-150px;margin-left:25px;" >-->
                        <!--<a class="btn-xs   dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown"  style="margin-left:140px;width:20px;">-->
                            <!--<span class="glyphicon glyphicon-option-vertical" style="margin-left:150px;width:2px;top:-17px"></span>-->
                          <!--</a>-->
                            <!--<ul class="dropdown-menu dropleft">-->
                                 <!--<a class="dropdown-item" href="{% url 'copy_note' i.id %}" style="margin-left:0px;">Copy note</a>-->
                                <!--<a class="dropdown-item" href="{% url 'move_to_trash' i.id %}" style="margin-left:0px;width:20;">Trash</a>-->
                            <!--<a class="dropdown-item" href="{% url 'updatenote' i.id %}" style="margin-left:0px;">Update</a>-->
                            <!--<a class="dropdown-item" href="{% url 'updateform' i.id %}" style="margin-left:0px;">New Update</a>-->
                              <!--<a class="dropdown-item" href="{% url 'delete_forever' i.id %}" style="margin-left:0px;">Delete Forever</a>-->



                                <!--&lt;!&ndash;Add labels&ndash;&gt;-->


                              <!--<li class="dropdown-submenu "  >-->
                                <!--<a class="test"  href="#" style="margin-left:0px;">Add Label</a>-->
                                <!--<ul class="dropdown-menu">-->
                                    <!--{% for k in labels %}-->

                                    <!--<li><input type="checkbox"  name="labels" id="label_check"  onclick="addLabel(this,{{i.id}},{{k.id}},{{user.id}})" >{{k}}</li>-->
                                    <!--{% endfor %}-->

                                <!--</ul>-->
                              <!--</li>-->
                            <!--</ul>-->
                 <!--</div>-->
        <!--</div>-->
            <!--</article> </div>-->

    <!--{% endfor %}-->